/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); /* Incosolata */

:root{
  --header-color: #212122;
  --background-color: #3d3635;
}

*{
  padding:0;
  margin:0;
  font-family: 'Incosolata', monospace;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: white;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--header-color);
  color: white;
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.results{
  display: flex;
  gap: 20px;
  margin: 20px;
}

.results > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid orange;
  padding: 20px;
  border-radius: 10px;
}

img{
  height: 100px;
  width: 100px;
}

.buttons{
  margin: 20px;
}

a{
  text-decoration: none;
  color: orange;
}